<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  
  <Package
      Name="IPXml"
      Manufacturer="Rihaan Meherr"
      Version="1.0.0"
      UpgradeCode="a2e569a0-5a99-4209-a4ce-bd6b01c3cb53"
      InstallerVersion="500">

    <MediaTemplate />

    <MajorUpgrade DowngradeErrorMessage="A newer version of IPXml is already installed." />

    <!-- Features -->
    <Feature Id="MainFeature" Title="IPXml" Level="1">
      <ComponentGroupRef Id="ProductComponents"/>
    </Feature>

    <Feature Id="AddToPathFeature"
             Title="Add IPXml to PATH"
             Description="Adds IPXml to system PATH (Recommended)"
             Level="1"
             AllowAdvertise="no">
      <ComponentRef Id="AddToPath"/>
    </Feature>

  </Package>


  <!-- Directories -->
  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="IPXml">
        <Directory Id="BIN" Name="bin"/>
      </Directory>
    </StandardDirectory>
  </Fragment>


  <!-- Files -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="BIN">

      <Component Id="ipxmlExe" Guid="*">
        <File Source="dist/win/ipxml.exe" />
      </Component>

      <Component Id="ipxmlccExe" Guid="*">
        <File Source="dist/win/ipxml-cc.exe" />
      </Component>

    </ComponentGroup>
  </Fragment>


  <!-- Add to PATH -->
  <Fragment>
    <DirectoryRef Id="BIN">
      <Component Id="AddToPath" Guid="9765e1ee-78e3-4096-9187-d1f878c3bf10">
        
        <Environment
            Id="AddToPathEnv"
            Name="PATH"
            Value="[BIN]"
            Part="last"
            Action="set"
            System="yes"
            Permanent="no"
            Separator=";" />

      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
